a{
    text-decoration: none;
    color: rgb(64, 61, 209);
}


.head1{
    width: 100%;
}


.head{

    display: flex;
    align-items: center;
    justify-content: center;
    color: #CEF0D4; font-family: 'Rouge Script', cursive; font-size: 130px; font-weight: normal; line-height: 48px; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #082b34;
}