<div class="container">
    <div class="row">
        <h1>Add New Post</h1>

<form method="POST" action="/post">

    <input type="text" name="author" placeholder="Auther">
    <br>
    <input type="text" name="title" placeholder="Title">
    <br>
   
    <input type="text" name="img" placeholder="image">
    <br>
    <br>
    <textarea name="body" cols="30" rows="5">
        
    </textarea>
    <br>
    <br>
    <button>Save Post</button>
</form>
    </div>
</div>