*{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 60px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 20px auto;
    align-items: center;
    background-color: rgb(26, 26, 36);
    overflow: hidden;


}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 800px;
}

nav ul li{
    color:#ccc ;
    cursor: pointer;
}
nav ul li:hover{
    color:orangered ;
}
a{
    text-decoration: none;
    color: #ccc;
}


main div{
    width: 90vw;
    height: 45vh;
/*     border: 2px solid blue; */
 /*    background-color: palegreen; */
    margin: 20px auto;
    transition: all 5s;
    animation: slider 25s linear  infinite;
    
}

main div img{
    width: 100%;
    height: 100%;
}

@keyframes slider{
0%{
    background-image: url(https://images.unsplash.com/photo-1495283897339-a5736d2c12b2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTg1fHxiYWNrZ3JvdW5kfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
     transition-timing-function: ease-in-out;
}
25%{
    background-image: url(https://images.unsplash.com/photo-1572707582365-0ee1c8e71173?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
     transition-timing-function: ease-in-out;
}
    50%{
        background-image: url(https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
      background-repeat: no-repeat;
      background-size: cover;
       background-position: center;
       transition-timing-function: ease-in-out;
    }
    100%{
        background-image: url(https://images.unsplash.com/photo-1606245195854-74bb4f673a63?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
        background-repeat: no-repeat;
        background-size: cover;
        transition-timing-function: ease-in;
    }
} 

.products{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    
}
article figure {
    width: 320px;
    height:320px;
  }

.products article img{
    width: 100%;
    height: 100%;
}

.products article figcaption h3{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-left: 90px;
    color: rgb(90, 173, 184);
}


.products article figcaption p{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-left: 90px;
    color: rgb(71, 136, 145);
}

article button {
    width: 130px;
    height: 45px;
    background-color: rgb(219, 4, 76);
    font-size: 1.2rem;
    border: none;
    color: rgb(248, 244, 240);
    outline: none;
    cursor: pointer;
    border: 3px solid #e9b4242e;
    z-index: 10;
    transition: all 0.4s;
    margin-bottom: 1rem;
    border-radius: 25px;
    margin-left: 80px;
    margin-top: 5px;
  }

  article button:hover {
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 20px rgba(14, 11, 8, 0.37);
    border: 2px solid #1fdf382e;
    color: rgb(71, 136, 145);
    background-color: rgb(253, 243, 246);
  }
  
  article {
      border-radius: 4px;
    margin-bottom: 1rem;
    transition: all 0.2s;
    box-shadow: 0px 2px 3px rgba(104, 104, 104);
  }
  
  article:hover {
    transform: scale(1.02);
    cursor: pointer;
  }




  /*footer*/
  footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
}

footer .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

footer .container .sec{
    margin-right: 30px;
} 

footer .container .sec .aboutus{
   width: 40%;
   
}

footer .container h2{
  position: relative;
  color: white;
  font-weight: 500;
  margin-bottom: 15px;  
}

footer .container  h2:before{

  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #399;
}

footer p {
  color: #999;
}

.sci{
  margin-top: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: rgb(209, 216, 214);
  text-decoration: none;
  border-radius: 4px; 
}

.sci li a:hover{
  background-color: #399;
}

.sci li a .fa {
  color: #fff;
  font-size: 20px;
}

.enquiry{
  position: relative;
  width: 25%;
  
}
.enquiry ul li{
  list-style: none;
}

.enquiry ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}


.enquiry ul li a:hover{
  color: #fff;
}

.contact {
  width: calc(65%-60px);
  margin-right: 0 !important;

  
}

.contact .info{
  position: relative;
}

.contact .info li{
  display: flex;
  margin-bottom: 16px;
}

.contact .info li span :nth-child(1)
{   
  color: #fff;
  font-size: 20px;
  margin-right: 10px;

}
.contact .info span {
  color: #999;
}

.contact .info li  a {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


.copyrightText{
  position: relative;

  height: auto;

  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  background-color: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #399;
}
@media (max-width:991px)
{
  nav{
    width: 100%;
    height: 80px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  /*   align-items: center; */
    background-color: rgb(26, 26, 36);
    overflow: hidden;
}


    footer{
        padding: 40px;
        
    }

    footer .container {
        flex-direction: column;
    }

    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container .sec .aboutus{
        width: 100%;
    }

}

